body {
    background-image: url('../images/Nice-capitale.jpg'); 
    margin: 0%;
}

.container {
  display: flex; 
  position: fixed;
  background-color: hwb(208 0% 0%); 
  text-align: center;  
  margin: 0%;
  top: 0;
  width: 100%;	  
  justify-content: center; 
}

.image_point{
  text-align: center;  
  width: 100%;
  margin: 25px;	
}

.panel{
  display: flex; 
  width: 100%;	
}

.options {	
  cursor: pointer;
  color: white;
  margin: 10px ; 
  padding: 20px;   
}


.list li{
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 25px;
  color: white;
  
  border-bottom: 1px solid black; 
  padding-bottom: 10px; 
  margin-bottom: 10px; 

  text-align: center;  
  
}

.city-link:hover {
    color: red; 
}

.options:hover {
    color: red; 
}


.bord {
    background-color: rgb(255, 255, 255); 
    
    width: 80%;
    align-items: center;  
    justify-content: center;
    margin-top: 7%; 
    margin-left: 10%;
    margin-right: 10%;    
}


.article {
    display: flex;
    width: 50%;
    height: 50%;
    background-color: rgb(255, 255, 255); 
    align-items: center;  
    justify-content: center; 
    margin-bottom: 50px; 
    margin: 30px auto; 
    
}


.article img {

    max-width: 500px;
    margin-right: 50px;
}

h1 {
	
	word-wrap: break-word;
	width: 635px; 
	
}


h1 {
	font-size: 20px; 
 }
 

h2 {
	font-size: 17px; 
 }
