body {
    background-image: url('../images/Nice-capitale.jpg'); 
    margin: 0px;
}





.container {
  display: flex; 

  position: fixed;


  background-color: hwb(208 0% 0%); 
  text-align: center;  
  margin: 0px auto; 
  width: 100%;	  
  justify-content: center; 
     
}







.image_point{

  text-align: center;  
  width: 100%;
  margin: 25px;	
}


.panel{

  display: flex; 
  width: 100%;	
  

}


.word_1, .word_2, .word_3 {	
  cursor: pointer;
  color: white;
  margin: 10px ; 
  padding: 20px;
  
    
}


.word-list_1 li, .word-list_2 li, .word-list_3 li{
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 25px;
  color: white;
  
  border-bottom: 1px solid black; 
  padding-bottom: 10px; 
  margin-bottom: 10px; 

  text-align: center;  
  
}









.city-link:hover {
    color: red; 
}

.word_1:hover, .word_2:hover, .word_3:hover {
    color: red; 
}













.bord {
    background-color: rgb(255, 255, 255); 
    
    width: 80%;
    align-items: center;  
    justify-content: center;
    
    margin: 10% auto; 
    margin-top: 5%; 
}


.article {
    display: flex;
    width: 50%;
    height: 50%;
    background-color: rgb(255, 255, 255); 
    align-items: center;  
    justify-content: center; 
    margin-bottom: 50px; 
    margin: 30px auto; 
    
}


.article img {

    max-width: 500px;
    margin-right: 50px;
}







h1 {
	
	word-wrap: break-word;
	width: 635px; 
	
}
    	



h1 {
	font-size: 20px; 
 }
 
 

h2 {
	font-size: 17px; 
 }
